page-daily-report{
    .background{
        width:100%;
        height:100%;
        background: linear-gradient(10deg,#4E5EFC,#4EE7FC);
    }
    .scroll-content{
        text-align: center;
    }
    ion-card.card{
        background: rgba(232, 230, 230, 0.6);
        border-radius: 10px;
    }
    .item{
        background: rgba(232, 230, 230, 0);
    }
    ion-input{
        border-bottom: #FD4D73 solid 1px;
    }
    ion-icon{
        margin: 0px 5px;
    }
    h1{
        color: #fff;
        font-size: 3em;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: lighter;
    }
    .progress-wrapper{
        position: relative;
        margin: 20px auto;
        font-size: 40px;
    }
    round-progress{
        margin: auto;
    }
}